<ion-modal-view title="New Account">
    <ion-header-bar class="bar bar-header bar-light">
      <h1 class="title">New Account</h1>

    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">

          <input ng-model="newKey.alias" type="text" placeholder="Account Name" disabled="{{editOrNew}}">
        </label>
        <label class="item item-input">
          <input ng-model="newKey.secret" type="text" placeholder="Secret Key">
        </label>


        <button class="button button-full button-positive" ng-click="createOrUpdateAccount(newKey)">Create/Update</button>
          <button class="button  button-full button-primary" ng-click="modal.hide()">Cancel</button>
      </div>
    </ion-content>
</ion-modal-view>