<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">New Account</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">

          <input ng-model="newKey.alias" type="text" placeholder="Account Name">
        </label>
        <label class="item item-input">
          <input ng-model="newKey.secret" type="text" placeholder="Secret Key">
        </label>

        <ion-toggle ion-toggle-text ng-model="newKey.timeBased">
         Time Based 
        </ion-toggle>
        <button class="button button-full button-dark" ng-click="createAccount(newKey)">Create</button>
      </div>
    </ion-content>
</ion-modal-view>