<ion-modal-view title="New/Update Account">
    <ion-header-bar class="bar bar-header bar-light">
      <h1 class="title">New/Update Account</h1>

    </ion-header-bar>
    <ion-content class="padding">
      <form name="MFASetupForm" novalidate ng-submit="createOrUpdateAccount(newKey)">
      <div class="list">
        <label class="item item-input"
               ng-class="{ 'has-error' : MFASetupForm.alias.$invalid}">

          <input ng-model="newKey.alias" name="alias" type="text" placeholder="Account Name" class="uppercase" required>
            <div ng-messages="MFASetupForm.alias.$error">
                <div class="form-error" ng-message="required">This field is required.</div>
                <div class="form-error" ng-message="minlength">This field is must be at least 8 characters.</div>
                <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
            </div>
        </label>
        <label class="item item-input"
               ng-class="{ 'has-error' : MFASetupForm.secret.$invalid}">
          <input ng-model="newKey.secret" name="secret" type="text" placeholder="Secret Key" required ng-minlength="8">
            <div ng-messages="MFASetupForm.secret.$error">
                <div class="form-error" ng-message="required">This field is required.</div>
                <div class="form-error" ng-message="minlength">This field is must be at least 8 characters.</div>
                <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>

            </div>
        </label>


        <button class="button button-full button-positive" type="submit">Create/Update</button>
          <p class="text-center">
              <a href="#" ng-click="modal.hide()" class="button button-full button-light">Cancel</a>
          </p>
      </div>

      </form>

    </ion-content>
</ion-modal-view>