<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content scroll="false">
       <ion-nav-bar class="bar-dark">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
            
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" >
        <header class="bar bar-header bar-dark">
          <h1 class="title">Settings</h1>
        </header>
        <ion-content class="has-header " has-header="true" scroll="false">
          <ion-list>
            <ion-item nav-clear menu-close href="#/home/startHere">
              Account Setup
            </ion-item>
            <ion-item nav-clear menu-close href="#/home/accountList">
              Accounts
            </ion-item>
            
          
          </ion-list>
        </ion-content>
    </ion-side-menu>
