<ion-view view-title="{{keyAlias}}">
    <ion-pane >
      <ion-header-bar class="bar-dark background">
        <h1 class="title">Bax TOTP</h1>
      </ion-header-bar>
      <ion-content ng-init="start()">
          <div class="container">
              <div class="progress-wrapper" ng-cloak="true" ng-style="{&apos;font-size&apos;: getFontSize()}">
 
              <div class="progress" ng-cloak="true">
                  {{ currentTotp }}
                  <div class="progress-counter" ng-cloak="true">Your token will expire in <span ng-style="{color : ((current) > 5) ? '#007aff' : 'red'}"><b><u>{{current}}s</u></b></span></div>
                  <!--div class="information">If your account login requires second factor token, enter this verification code when prompted</div-->
              </div>
             
                <div round-progress
                     max="max"
                     current="31-current"
                     color="{{ getColor() }}"
                     bgcolor="{{ bgColor }}"
                     radius="{{ radius }}"
                     semi="isSemi"
                     rounded="rounded"
                     clockwise="clockwise"
                     stroke="{{ stroke }}"
                     animation="{{ currentAnimation }}"
                     ng-cloak="true">
                   
              </div>
          </div>  
          </div>

      </ion-content>
    </ion-pane>


</ion-view>