<ion-view view-title="Start Here">
        <ion-header class="bar bar-header bar-dark ">
          <h1 class="title">Start Here</h1>
        </ion-header>
    <ion-content has-header="true" title="Start Here" class="background">
        <ion-list class="card" >
            <ion-item class="item-body" >
                <center>
                    <img src="img/2fa-mod.png">
                    
                
                <p style="color:white;align:center">
                       Please click "Begin Setup" to start adding a new account for 2-step verification.
                </p>
                </center>
           </ion-item>
            
        </ion-list>
        
        
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark" align-title="center" >
        
        <button class="button button-full button-balanced background" 
                ng-click="showSetupOptions()"  
                style="font-size:20px;">Begin Setup
        </button>
    </ion-footer-bar>

</ion-view>